@import "./globals";

#chanbox {
  width: 90%;
  height: 500px;
  margin: auto;
  border: 1px solid white;
  display: flex;
  flex-direction: row;

  #peerList {
    height: 100%;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-right: 1px solid #fff;

    ul {
      padding: 0;

      li {
        display: flex;
        padding: 0 10px;

        label {
          flex: 1;
          padding: 10px 5px;
          margin: 0 5px;
          background: none;
          color: #fff;
          border: none;
          outline: none;
          display: flex;
          text-align: center;

          &.checked {
            background-color: #444;
          }

          span {
            flex: 1;
            margin: auto;
          }

          input {
            display: none;
          }
        }

        div {
          display: flex;

          button {
            margin: auto;
            display: inline-block;
            padding: 0 0;
            float: right;
            border: 1px solid white;
            width: auto;
            background: black;
            color: white;

            .material-icons {
              font-size: 20px;
              padding: 2px 2px;
            }
          }
        }
      }
    }

    #peer-add {
      margin: 0 5px;
      font-size: 16px;
      text-align: center;

      a {
        display: block;
        width: 100px;
        margin: auto;
        height: 100%;
        text-decoration: none;
        border: 1px solid #fff;
        color: #fff;
      }
    }
  }

  #channelList {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: 1;

    table {
      width: 100%;
      border-collapse: collapse;

      col:nth-child(1){width:150px;}
      col:nth-child(2){width:150px;}
      col:nth-child(3){width:75px;}
      col:nth-child(4){flex: 1}
      col:nth-child(5){flex: 1}

      th, td {
        padding: 10px 0;
        text-align: center;
        border-bottom: 1px solid white;

        &.chan-zap {
          form {
            display: flex;
            input {
              margin: auto;
              background: transparent;
              border: none;
              outline: none;
              border-bottom: 1px solid white;
              color: #fff;
            }

            button {
              margin: auto;
              width: 40px;
              height: 40px;
              background: none;
              color: #fff;
            }
          }
        }

        &.chan-xtra {
          button {
            width: 30px;
            height: 30px;
            background: none;
            color: #fff;
          }
        }
      }
    }

    #channel-add {
      column-span: all;
      margin: 15px 5px 0 5px;
      font-size: 16px;
      text-align: center;

      a {
        display: block;
        width: 100px;
        margin: auto;
        height: 100%;
        text-decoration: none;
        border: 1px solid #fff;
        color: #fff;
      }
    }
  }
}

#chatbox {
  width: 80%;
  margin: auto;

  .chan-capacity {
    width: 100px;
  }
}

#peer-modal, #channel-modal {
  .css-modal_inner {
    width: 600px;
  }

  .css-modal_content {
    display: flex;

    div {
      flex: 1;
      text-align: center;

      &:first-child {
      }

      &:last-child {
        display: flex;
      }
    }

    input[type="text"] {
      display: block;
      margin: 20px 0;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid white;
      color: #fff;

      &#address {
        width: 450px;
      }
    }

    button {
      margin: auto;
      width: 40px;
      height: 40px;
      background: none;
      color: #fff;
    }
  }
}

#nickname-modal {
  .css-modal_inner {
    width: 400px;
  }

  .css-modal_content {
    display: flex;

    div {
      display: flex;
      align-items: center;

      &:first-child {
        flex: 2;
      }

      &:last-child {
        flex: 1;
        justify-content: flex-end;
      }
    }

    input[type="text"] {
      display: block;
      margin: 20px 0;
      width: 100%;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid white;
      color: #fff;
    }

    button {
      width: 40px;
      height: 40px;
      background: none;
      color: #fff;
      float: right;
    }
  }
}

#xtra-modal {
  .css-modal_inner {
    width: 600px;
  }

  .css-modal_content {
    display: flex;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 20px;
      flex: 1;
    }

    button {
      width: 60px;
      height: 40px;
      background: none;
      color: #fff;
      float: right;
    }
  }
}
