@import "./globals";

#balances {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1000px;

  div {
    display: inline-block;
    width: 25%;
    text-align: center;

    div {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100px;

      * {
        flex: 1;
      }

      img {
        width: 40px;
      }
    }
  }
}

#walletbox {
  display: flex;
  width: 100%;

  >div {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    flex: 1;
    height: 200px;

    label {
      margin: 0 30px;
      flex: 1;

      input {
        margin: auto;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid white;
        color: #fff;
        float: right;

        &#sendAddress {
          width: 400px;
        }
      }
    }

    &:first-child {

      div {
        margin: auto;

        button {
          width: 100px;
          background: none;
          color: #fff;
        }
      }
    }

    &:last-child {
      button {
        width: 100px;
        background: none;
        color: #fff;
        float: right;
        align-self: flex-end;
      }
    }
  }
}

#listsbox {
  height: 400px;
  margin: 30px 30px;
  display: flex;

  #transactionbox {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid white;
    text-align: center;

    div {
    height: 100%;
      overflow-x: hidden;
      overflow-y: auto;

      p {
        margin: .5em 0;
      }
    }
  }

  #addressbox {
    display: flex;
    flex: 1;
    border: 1px solid white;

    div {
      display: flex;
      flex-direction: column;
      flex: 1;
      text-align: center;
      div {
      height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        p {
          margin: .5em 0;
        }
      }
    }
  }
}